@using MyPhotosCatalog.Models;
@model Comment
@{
    ViewBag.Title = $"Details About {ViewBag.Photo.Name}";
}
<br />
<div class="container">
    <div class="row text-center">
        <h1>Details About <span class="text-muted">@ViewBag.Photo.Name</span></h1>
        <br />
    </div>
    <br />
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="row">
                    <span class="h5">Name</span>
                    <div class="lead">
                        @ViewBag.Photo.Name
                    </div>
                </div>
                <div class="row">
                    <span class="h5">Owner</span>
                    <div class="lead">
                        @ViewBag.Photo.Owner
                    </div>
                </div>
                <div class="row">
                    <span class="h5">Category</span>
                    <div class="lead">
                        @ViewBag.Photo.Category!.Name
                    </div>
                </div>
                <br />
                <p>
                    <div class="row">
                        @if (@ViewBag.Photo.Comments != null && @ViewBag.Photo.Comments.Count != 0)
                        {
                            <details open>
                                <summary><bold class="h5">Comments</bold></summary>
                                @foreach (var comment in @ViewBag.Photo.Comments)
                                {
                                    <p class="lead">
                                        @comment.Content
                                    </p>
                                }
                            </details>
                        }
                        else
                        {
                            <div class="lead">
                                <mark> Be the first to leave a comment (:</mark>
                            </div>
                        }
                        <div class="row">
                            <span class="h4">Leave A Comment</span>
                            <form asp-action="Details" method="post">
                                @Html.ValidationSummary()
                                <input type="number" asp-for="PhotoId" value="@ViewBag.Photo.Id" hidden />
                                @Html.EditorFor(m => m.Content)
                                <input type="submit" value="Send" />
                            </form>
                        </div>

                    </div>
                </p>
        </div>
    </div>
    <div class="col-6">
        <img class="img-thumbnail rounded-3" src="~/Pics/@ViewBag.Photo.PictureName">
    </div>
</div>
</div>
@*
            <div class="col-6">
            </div>
        </div>
    </div>
</div>*@
